<body>
    <h4>DO NOT REPLY TO THIS EMAIL</h4>

    <small>Message ID: {{ pid }}</small>

    <div style="margin-bottom: 0.2rem; margin-top: 1rem;">Dear {{ firstname }}</div>
    <div>We have received your message.</div>
    <div>We aim to get back with you ASAP</div>

    <div style="margin-top: 1rem;">Thanks</div>
    <div style="margin-bottom: 1rem;">{{ app_name }} Support Team</div>

    <small>Your Message</small>
    <blockquote style="white-space: break-spaces;">{{ message }}</blockquote>
</body>