<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.min.css') }}">
    {% block dynamic_css%}{% endblock dynamic_css %}

    {% block head_js %}{% endblock head_js %}

    <link
        href="{{ url_for('file.favicon') }}"
        rel="icon" type="image/x-icon" />
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home.home') }}">
                <img src="{{ url_for('file.logo') }}" alt="Enjibox" width="30" height="30" style="margin-right: 0.15rem;">njibox
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link {% block nav_home %}{% endblock nav_home %}" aria-current="page"
                            href="{{ url_for('home.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_outgoings %}{% endblock nav_outgoings %}"
                            href="{{ url_for('outgoing.reads') }}">Outgoings</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% block nav_user %}{% endblock nav_user %}" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.get_firstname().value }}</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if not current_user.verified %}
                            <li>
                                <a class="dropdown-item bg-warning text-dark" href="{{ url_for('auth.request_verification') }}">Request New Verification</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('outgoing.create') }}">New Outgoing</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('settings.settings') }}">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('about.about') }}">About</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('contact.message') }}">Contact</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('legal.terms') }}">Terms</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('legal.privacy') }}">Privacy</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="d-flex justify-content-center">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <form class="container-fluid d-flex justify-content-end">
                    <a class="btn btn-sm btn-primary me-3" href="{{ url_for('auth.login') }}" role="button">Login</a>
                    <a class="btn btn-sm btn-warning" href="{{ url_for('auth.signup') }}" role="button">Sign Up</a>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if current_user.is_authenticated %}
    {% if not current_user.verified %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    Please check your email inbox or spam folder on how to verify your email
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% block content %}{% endblock content %}




    <!-- Flash Modal -->
    <div class="modal fade" id="flashModal" tabindex="-1" aria-labelledby="flashModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="flashModalBody">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% if category == "error" %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-light" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <!-- Progress Modal -->
    <div class="modal fade" id="progressReportModal" tabindex="-1" aria-labelledby="progressModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="progressReportModalBody">
                </div>
            </div>
        </div>
    </div>

    <!-- What is Offset Modal -->
    <div class="modal fade" id="whatIsOffsetModal" tabindex="-1" aria-labelledby="whatIsOffsetModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-light">Offset</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-light">
                    <p>Offsetting an outgoing item allows for that item to be saved and tracked but will not count
                        towards the total perodic amount.</p>
                    <h5>For example</h5>
                    <p>Person A used a credit card to purchase a ticket for the price of 5.00. Person A then pays the
                        credit card 5.00 from her debit card. Person A then saved both as seperate outgoing item. Her
                        current total expenses is 10.00.</p>
                    <p>However, this result is not correct. In actuality, Person A only spent 5.00 in total. Person A
                        can offset the debit card outgoing item when paying the credit card to make that item not count
                        towards the total amount but still keeps track of when Person A used her debit card.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- New Option Modal -->
    <div id="outgoingNewOptionModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="outgoingNewOptionModalHeader" class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="outgoingNewOptionModalFormElement">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <label id="outgoingNewOptionModalLabel" for="outgoingNewOptionModalInput"
                                    class="form-label text-light"></label>
                                <input type="text" class="form-control" id="outgoingNewOptionModalInput" maxlength=""
                                    required>
                                <small class="text-danger" id="outgoingNewOptionModalError"></small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="outgoingNewOptionModalSubmitBtn"
                            data-topic="">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="outgoingDeleteModal" tabindex="-1" aria-labelledby="outgoingDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Item</h1>
                    <button type="button" class="btn-close outgoing-delete-modal-btns" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete</h4>
                    <p id="outgoingDeleteModalBodyP"></p>
                    <h5 class="text-danger" id="outgoingDeleteModalBodyH5"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm outgoing-delete-modal-btns"
                        data-bs-dismiss="modal">Nope!</button>
                    <button type="button" class="btn btn-danger btn-sm outgoing-delete-modal-btns"
                        id="outgoingDeleteModalBtn">Yes, Delete It</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to logout?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Nope!</button>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('auth.logout') }}" role="button">Yes, Log Me Out</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="footer-container">
                        <div style="display: flex; flex-flow: column nowrap;">
                            <p class="mb-0">&#169; <span class="copy-right-year">2023</span> {{ config.APP_NAME }}. All rights reserved</p>
                            <small>V{{ config.VERSION }}</small>
                        </div>
                        

                        <div style="display: flex; flex-flow: row wrap;">
                            {% if not current_user.is_authenticated %}
                            <p class="mb-0 ms-3"><a href="{{ url_for('auth.login') }}" style="text-decoration: none;">Login</a></p>
                            <p class="mb-0 ms-3"><a href="{{ url_for('auth.signup') }}" style="text-decoration: none;">Sign Up</a></p>
                            {% else %}
                            <p class="mb-0 ms-3"><a href="{{ url_for('home.home') }}" style="text-decoration: none;">Home</a></p>
                            <p class="mb-0 ms-3"><a href="{{ url_for('outgoing.reads') }}" style="text-decoration: none;">Outgoings</a></p>
                            {% endif %}
                            <p class="mb-0 ms-3"><a href="{{ url_for('legal.terms') }}" style="text-decoration: none;">Terms</a></p>
                            <p class="mb-0 ms-3"><a href="{{ url_for('legal.privacy') }}" style="text-decoration: none;">Privacy</a></p>
                            
                            <p class="mb-0 ms-3"><a href="{{ url_for('about.about') }}" style="text-decoration: none;">About</a></p>
                            <p class="mb-0 ms-3"><a href="{{ url_for('contact.message') }}" style="text-decoration: none;">Contact</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery/jquery-3.6.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>


    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="{{ url_for('static', filename='js/momentjs/moment-with-locales.min.js') }}"></script>

    {% if current_user.is_authenticated %}
    <script src="{{ url_for('static', filename='js/base.min.js') }}"></script>
    {% block body_js%}{% endblock body_js%}
    {% else %}
    <script src="{{ url_for('static', filename='js/unauthed_base.min.js') }}"></script>
    {% endif %}
</body>

</html>